@font-face {
   font-family: 'Kaushan Script';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Kinga/OneDrive/Dokumenty/www%20bar/fonts/Kaushan Script/regular.ttf') format('truetype');
}
